@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


$primary-color: rgb(9, 81, 236);
$primary-hover-color: rgb(202, 202, 202);
$secondary-color: gold;
$secondaryBtn-color: red;
$border-radius: 5px;
$logo-font-family: "Lobster Two", sans-serif;;
$primary-font-family : "SN Pro", sans-serif;