@use "/src/assets/styles/mixin" as *;
@use "/src/assets/styles/variables" as *;


.LandingPage {
    background: url('/landing-page-images/house-1.jpg');
    animation: slideShow infinite ease;
    animation-duration: 10s;
    position: relative;
}



@keyframes slideShow {

    0% {
        background: url('/landing-page-images/house-3.jpg');
        background-size: cover;
    }
    33% {
        background: url('/landing-page-images/house-1.jpg');
        background-size: cover;

    }
    66% {
        background: url('/landing-page-images/house-2.jpg');
        background-size: cover;
        
    }
    100% {
        background: url('/landing-page-images/house-3.jpg');
        background-size: cover;
    }
}

.LandingPageOverlayContainer {
    @include AbsolutePosition;
    background-color: rgba(255, 255, 255, 0.637);
    backdrop-filter: blur(2px);
    @include FlexBox;
}

.TextContainer {
    @include FlexBox;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem;
}

.TextHeadingContainer {
    @include FlexBox;
    flex-direction: column;
    
}

.TextHeading {
    font-size: 3rem;
    font-family: $logo-font-family;
}

.TextContent {
    text-align: center;
    padding: 1rem;
}
