@use "/src/assets/styles/variables" as *;

.PrimaryBtn {
    border: $secondary-color;
    background-color: transparent;
    border: thin solid $secondary-color;
    color: $secondary-color;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    &:hover {
        background-color: $secondary-color;
        color: $primary-color;
    }
}