@use "/src/assets/styles/mixin" as *;

.ManageUsers {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 2rem;
    min-width: 100%;   
    position: relative; 
}

.ManageUsersHeader {
    @include FlexBox;
    flex-direction: column;
    gap: 1rem;
}


.AddUserFormContainer {
    position: relative;
}