.DashboardLayout {
    display: grid;
    grid-template-columns: auto 1fr;
}


.SidebarContainer {
    display: flex;
    padding: 1rem;
}


.OpenSidebar {
    position: absolute;
}

.OpenSidebarBtn {
    cursor: pointer;
}

